/* <=-+(==)+-==+=+==-+(==)+-=>
   Table of contents
   <================>
   1. Global styles
   2. Typography
   3. Layout
   4. Components
   <================>
   */

/* ===============>
   1. Global styles
   <================ */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* Colors */
  --FULLBLACK: #000000;
  --MARINEBLUE: #1a293f;
  --DEFAULTBLUE: #004bd2;
  --BABYBLUE: #2d9bf0;
  --LIGHTGRAY: #f2f2f2;
  --FULLWHITE: #ffffff;
}

/* ===============>
   2. Typography
   <================ */

   h1 {
    font-size: 4rem;
    color: var(--FULLWHITE);
    font-family: Arial, Helvetica, sans-serif ;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 0 10px;
  }

  .intro {
    color: var(--FULLWHITE);
    text-shadow: rgba(0, 0, 0, 0.5) 1px 0 10px;
  }

  .bold {
    font-weight: bold;
  }

/* ===============>
   3. Layout
   <================ */

/* === Background Items === */

.bg {
  margin: 0;
}

.bg-main {
  background: var(--BABYBLUE);
  background: linear-gradient(90deg, var(--BABYBLUE) 0%, rgb(109, 186, 245) 50%, var(--FULLWHITE) 100%);
}

.bg-white {
  background-color: var(--FULLWHITE);
}

.bg-gray {
  background-color: var(--LIGHTGRAY);
}

/* === Navbar === */

.navbar {
  padding: 0px;
  position: fixed;
  width: 100%;
  height: 60px;
}

.navbar-collapse-right {
  float: right;
}

.navbar-brand {
  width: 10px;
}

.site-logo {
  height: 50px;
  border-radius: 15%;
}

.site-logo:hover {
  transition: 300ms ease-in-out;
  height: 52px;
}

.container-fluid {
  background: rgb(45, 155, 240);
  background: linear-gradient(
    90deg,
    rgba(45, 155, 240, 1) 0%,
    rgb(109, 186, 245) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  transition: all 400ms ease-in-out;
}

.nav-item:hover {
  transition: 300ms ease-in-out;
  font-size: 15px;
}

.scroll-down .container-fluid {
  transform: translate3d(0, -100%, 0);
}

.bg-main-left {
  padding-left: 15%;
  padding-top: 15%;
}

/* ===============>
   4. Components
   <================ */

/* === Buttons === */

button {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}


footer {
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 20px 50px;
  background: #3586ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer :is(.social-icon, .menu) {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer :is(.social-icon, .menu) li {
  list-style: none;
}

footer .social-icon li a {
  font-size: 2rem;
  color: var(--FULLWHITE);
  margin: 0 10px;
  /* 인라인 요소는 transform 안 됨 */
  display: inline-block;
  transition: 0.5s;
}

footer .social-icon li a:hover {
  transform: translateY(-10px);
}

footer .menu li a {
  font-size: 1.2rem;
  color: var(--FULLWHITE);
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover {
  opacity: 1;
}

footer p {
  color: var(--FULLWHITE);
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(https://user-images.githubusercontent.com/42988225/140306352-7c493abd-ed71-4789-8a19-f074ac35360c.png);
  background-size: 1000px 100px;
}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave2 4s linear infinite;
}

@keyframes animateWave2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}

footer .wave#wave3 {
  z-index: 999;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave2 3s linear infinite;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(45, 155, 240);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(177, 211, 236) 5%,
    rgb(141, 194, 235) 20%,
    rgb(66, 163, 236) 50%,
    rgb(141, 194, 235) 80%,
    rgb(177, 211, 236) 95%,
    rgba(255, 255, 255, 1) 100%
  );
}

.home-img {
  width: 100%;
}

.bg-white,
.bg-gray {
  padding: 5%;
}

h2 {
  font-size: 50px;
}

.gameplay-img {
  margin-top: 10%;
  width: 80%;
}

.gameplay-img::after {
  content: "";
  display: block;
  padding-bottom: 20%;
}

.meer-info {
  margin-left: 5%;
}

.gameplay-img-img {
  width: 100%;
  height: 100%;
}



.rightside {
  padding-left: 5%;
}

.uitleg {
  border-left: 10px solid var(--BABYBLUE);
  padding: 10px;  
}

h3 {
  margin-left: 30px;
  font-size: 30px;
}




@media only screen and (max-width: 920px) {
  .home-img {
    margin-top: 20%;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 750px) {
  .home-img {
    margin-top: 30%;
  }
}

@media only screen and (max-width: 600px) {
  .bg-main-right {
    display: none;
  }
}